/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%; 
  display: inline-block;
  background-color:#fff;
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  color: #000000;
  text-align: center;
}


.container{
padding-top: 125px;
}

.words{
  display: block;
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
}
.sequence{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  
}

/*
 * Header
 */
 .top-bar {
  display: block;
   position: fixed;
   z-index: 1000;
   left:0;
   right:0;
   background: #fff;
   padding-bottom: 20px;
   border-style: solid;
   border-color: #000000;
   border-width: 2px;
   
 }
.masthead-brand {
  margin-bottom: 0px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #000000; /* IE8 proofing */
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  color: #a9a9a9;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:focus {
  color: #000000;
  border-bottom-color: #000000;
}

.masthead-nav > .active > a:hover
 {
  color: #a9a9a9;
  border-bottom-color: #a9a9a9;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
  .containter{
    padding-top: 0px;
  }
}
